<form action="{{ path('task_new') }}" method="post" {{ form_enctype(form) }}>
    <div>First Name {{ form_widget(form.firstName) }} MI {{ form_widget(form.middle) }} Last Name{{ form_widget(form.lastName) }}</div>
    {{ form_widget(form.address) }}
    {{ form_widget(form.creditCard) }}
    <input type="submit" />
</form>